:root{
    --white-color: #faffff;
    --blue-color: #5db5f4;
    --blue-gray-color: #292d4b;
    --light-blue-purple-color:#97aefc;
    --blue-purple-gradient: linear-gradient(#4cd4ee, #b277ef);
    --box-shadow-color: rgba(0,0,0,0.7);

}