.Display{
    background: var(--blue-gray-color);
    display: grid;
    grid-template: 50% 50%/100%;
    padding: 0 var(--large-fs);
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--light-blue-purple-color);
    border-bottom: none;
}

.result{
    font-size: var(--large-fs);
    overflow: hidden;
    margin: auto 0 auto auto;
}

.math{
    display: flex;
    justify-content: center;
    align-items: center;
}
